In [136]:
print('Maximum [days]:', donors[date_features].max().max())
print('Maximum (approx.) [years]:', donors[date_features].max().max()/365.2422)      
print('Min. in [days]:', donors[date_features].min().min())
print('Min. (approx.) [years]:', donors[date_features].min().min()/365.2422)

Maximum [days]: 31928.0
Maximum (approx.) [years]: 87.41596672016541
Min. in [days]: -122.0
Min. (approx.) [years]: -0.3340249292113562

In [137]:
donors[date_features].min()

ODATEDW_rel_in_days       90.0
DOB_rel_in_days         -122.0
ADATE_2_rel_in_days        0.0
ADATE_3_rel_in_days      365.0
ADATE_4_rel_in_days      273.0
ADATE_5_rel_in_days      426.0
ADATE_6_rel_in_days      396.0
ADATE_7_rel_in_days      425.0
ADATE_8_rel_in_days      396.0
ADATE_9_rel_in_days      517.0
ADATE_10_rel_in_days     517.0
ADATE_11_rel_in_days     517.0
ADATE_12_rel_in_days     578.0
ADATE_14_rel_in_days     670.0
ADATE_16_rel_in_days     731.0
ADATE_17_rel_in_days     790.0
ADATE_18_rel_in_days     670.0
ADATE_19_rel_in_days     882.0
ADATE_21_rel_in_days     913.0
ADATE_22_rel_in_days     670.0
ADATE_24_rel_in_days    1035.0
MAXADATE_rel_in_days      59.0
MINRDATE_rel_in_days     120.0
MAXRDATE_rel_in_days     120.0
LASTDATE_rel_in_days     120.0
FISTDATE_rel_in_days     457.0
NEXTDATE_rel_in_days     120.0
dtype: float64

In [158]:
multipl = 0
donors['DOB_rel_in_days'][donors['DOB_rel_in_days']<=multipl*365.2422]

22984      0.0
40565    -61.0
52252   -122.0
60753   -122.0
94452    -61.0
Name: DOB_rel_in_days, dtype: float64

In [171]:
ind_to_drop = donors['DOB_rel_in_days'][donors['DOB_rel_in_days']<=multipl*365.2422].index
ind_to_drop

Int64Index([], dtype='int64')

In [170]:
ind_to_drop

Int64Index([22984, 40565, 52252, 60753, 94452], dtype='int64')

In [164]:
print(donors.shape)
donors.iloc[ind_to_drop]

(95412, 286)

,ODATEDW_rel_in_days,OSOURCE,STATE,ZIP,DOB_rel_in_days,MDMAUD,DOMAIN,HOMEOWNR,INCOME,GENDER,...,NEXTDATE_rel_in_days,TIMELAG,AVGGIFT,HPHONE_D,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
22984,2708,NaN,KY,40476,0.0,XXXX,R3,U,2.0,F,...,2649.0,0.0,9.888889,0,1,F,X,X,X,C
40565,2343,SYN,IL,60131,-61.0,XXXX,S2,U,2.0,M,...,2009.0,9.0,11.000000,1,3,F,X,X,X,A
52252,4169,DNA,IL,60201,-122.0,XXXX,S1,H,7.0,F,...,3257.0,22.0,27.708333,1,2,G,X,X,X,A
60753,4169,ENQ,FL,33702,-122.0,XXXX,U4,NaN,NaN,F,...,3835.0,3.0,4.804348,0,4,D,X,X,X,A
94452,4169,HOL,CO,80911,-61.0,XXXX,S3,H,1.0,F,...,3745.0,4.0,6.545455,0,3,E,X,X,X,B

In [166]:
donors = donors.drop(index=ind_to_drop)

In [169]:
print(donors.shape)

(95407, 286)